MYSQL_ROOT_PASSWORD=
MYSQL_USER=
MYSQL_PASSWORD=
DB_HOST=
DB_USER=
DB_PORT=
LG_DATABASE=

MQTT_HOST=
MQTT_PORT=
MQTT_TOPIC=
MQTT_USERNAME=
MQTT_TOKEN=

PROXY_HOST1=
PROXY_HOST2=
PROXY_PORT1=
PROXY_PORT2=