$orange:     #f67600;
$background: #E8EBF0;
$grayText:   #767d88;
$lh:         50px;

h1, h2, h3, h4, h5, h6, p, a, ul, li {
  font-family: "proxima-nova", sans-serif;
  font-weight: 100;
}

body {
  background: $background;
}

.app-container {
  width: 100%;
}
