.temp-box {
    margin: 20px;
    display: flex;
    justify-content: center;
    height: fit-content;
}

.temp-chart {
    width: 70%;
    height: 1000px;
}

@media (max-width: 725px) {
    .temp-chart {
        width: 90%;
        height: 400px;
    }
  }
